<div class="container well controls">
  <h6 class="container-label">Demo Controls</h6>
  <ul class="inline">
    <li>
      <label>Animations</label>
      <div class="switch">
        <input type="checkbox" checked="checked">
      </div>
    </li>
    <li>
      <label>Drag &amp; Drop</label>
      <div class="switch">
        <input type="checkbox" checked="checked">
      </div>
    </li>
    <li>
      <label>Filtering</label>
      <div class="btn-group">
        <button class="btn">Show Random</button>
        <button class="btn">Hide Random</button>
      </div>
    </li>
    <li>
      <label>Placeholders</label>
      <div class="btn-group toggle">
        <button class="btn active">FPOImg</button>
        <button class="btn">Placekittens</button>
        <button class="btn">Index Positions</button>
      </div>
    </li>
  </ul>
</div>