<div class="container well controls">
  <h6 class="container-label">Demo Controls</h6>
  <ul class="inline">
    <li>
      <label>Placeholders</label>
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn">dummyimage</button>
          <button class="btn">dummyimages</button>
          <button class="btn">fpoimg</button>
          <button class="btn">instasrc</button>
        </div>
      </div>
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn">ipsumimage</button>
          <button class="btn">lorempixel</button>
          <button class="btn">nosrc</button>
          <button class="btn">placeboxes</button>
        </div>
      </div>
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn">placedog</button>
          <button class="btn">placeholdit</button>
          <button class="btn">placeholdus</button>
          <button class="btn">placekitten</button>
        </div>
      </div>
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn">placesheen</button>
          <button class="btn">placezombies</button>
          <button class="btn">placepuppy</button>
          <button class="btn">nicenicejpg</button>
        </div>
      </div>
    </li>
  </ul>
</div>